.fb-share-button {
  background: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -webkit-user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 11px;
  height: 20px;
  padding: 0 0 0 2px;
  display: inline-block;
  zoom: 1;
}
.fb-share-button div {
  height: 16px;
}
.fb-share-button svg {
  width: 16px;
  height: 16px;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
}
.fb-share-button span {
  margin-left: -4px;
  vertical-align: middle;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
.vk-share-button {
  transition: background 200ms linear;
  border-radius: 2px 2px 2px 2px;
  padding: 2px 6px 4px;
  color: rgb(255, 255, 255);
  background: rgb(98, 135, 174);
  border: 1px solid rgb(98, 135, 174);
  height: 20px;
  padding: 0 0 0 2px;
}
.vk-share-button> div {
  display: inline-block;
  background-size: 19px 59px;
  background-image: url('https://vk.com/images/icons/like_widget.png');
  height: 8px;
  width: 14px;
  vertical-align: middle;
}
.vk-share-button> span {
  vertical-align: middle;
  line-height: 16px;
  font-size: 11px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
  text-align: center;
  margin-left: -4px;
}
