.share-button span {
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  padding: 3px 4px;
}

.share-button svg {
  padding: 2px 0 0 4px;
}

.share-button path {
  /* Default to white unless otherwise defined (Google Plus as example) */
  fill: #ffffff;
  height: 16px;
  width: 16px;
}

.share-button {
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-size: 11px;
  height: 20px;
  white-space: nowrap;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 2px;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.share-button:hover {
  opacity: .6;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
}

.email-div,
.linkedin-div,
.fb-div,
.twitter-div,
.vk-div,
.gplus-div {
  align-items: flex-start;
  display: inline-flex;
}

.fb-share-button {
  background: #4267b2;
  border: 1px solid #4267b2;
}

.vk-share-button {
  background: #6287ae;
  border: 1px solid #6287ae;
}

.gplus-share-button {
  background: #ffffff;
  border: 1px solid #d0d0d0;
}

.gplus-share-button span {
  color: #2f2f2f;
}

/* Use this syntax to change the fill color to a specific color */
.gplus-share-button path {
  fill: #DA4B42;
}

.linkedin-share-button {
  background: #0077b5;
  border: 1px solid #0077b5;
}

.twitter-share-button {
  background-color: #1b95e0;
  border: 1px solid #1b95e0;
}

.email-share-button {
  background-color: #666666;
  border: 1px solid #666666;
}

.email-share-button a {
  text-decoration: none;
  color: white;
  display: inline-flex;
  align-items: flex-start;
}

.share-panel {
  display: flex;
}

@media (max-width: 768px) {
  .adaptive-button {
    width: 20px;
  }

  .adaptive-button span {
    display: none;
    visibility: hidden;
  }
  .adaptive-button svg {
    margin: 2px auto;
    padding: 0;
  }
}
