<h2 id="title">Welcome to ember-social-share</h2>

<h3>Separated buttons with adaptive design and non-default url (example.com)</h3>

{{#fb-share-button quote="Here is an excerpt from the source" url="http://example.com" title="Test title 2" image="https://www.emberjs.com/images/tomsters/teaching-reverse-79f66d70.png" }}Share on Facebook{{/fb-share-button}}
{{#email-share-button recipient="test@gmail.com" title="Here is a test subject" text="this is only a test email"}}Share via e-mail{{/email-share-button}}
{{#vk-share-button url="http://example.com" title="Test title 1" image="https://www.emberjs.com/images/tomsters/teaching-reverse-79f66d70.png" text="Ember-social-share addon!" }}Share{{/vk-share-button}}
{{#twitter-share-button url="http://example.com" title="Test tweet" hashtags="example,test" via="example.org"}}Tweet{{/twitter-share-button}}
{{#linkedin-share-button url="http://example.com" title="Test article" text="very interesting" via="example.org"}}Share{{/linkedin-share-button}}
{{#gplus-share-button url="http://example.com"}}Share{{/gplus-share-button}}
{{#reddit-share-button title="Check this out!" url="http://example.com"}}Share{{/reddit-share-button}}

<h3>Share panel without adaptive design with default url</h3>
{{share-panel adaptive=false buttons="facebook, email, vk, twitter, linkedin, gplus, reddit" labels="Email,Share,Share,Tweet,Share,Share,Share" title="Title!" quote="Here is an excerpt from the source" image="https://www.emberjs.com/images/tomsters/teaching-reverse-79f66d70.png" text="Ember social share addon" hashtags="embersocialshare,ember" url="https://www.npmjs.com/package/ember-social-share" recipient="test@gmail.com" }}


<h3>Share panel in a different order with different labels (Twitter, Linkedin, VK, Facebook, Email, Google Plus)</h3>
{{share-panel adaptive=false buttons="twitter, linkedin, vk, reddit, facebook, email, gplus" labels="Tweet,Share on Linkedin,Share,Share on Reddit,Share to Facebook,Email to friends,Share with circles on Google Plus" title="Title!" quote="Here is an excerpt from the source" image="https://www.emberjs.com/images/tomsters/teaching-reverse-79f66d70.png" text="Ember social share addon" hashtags="embersocialshare,ember" url="https://www.npmjs.com/package/ember-social-share" recipient="test@test.com" }}
