<h2 id="title">Welcome to ember-social-share</h2>
{{#fb-share-button url="http://random.org" title="Test title 2" image="http://www.mignews.ru/aimages/05_16/180516_122302_84352_2.jpg"}}Share FB{{/fb-share-button}}
{{#vk-share-button url="http://example.com" title="Test title 1" image="http://www.mignews.ru/aimages/05_16/180516_122302_84352_2.jpg" text="qwerty"}}Share VK{{/vk-share-button}}
{{#twitter-share-button url="http://example.com" title="Test tweet" hashtags="example,test"}}Tweet{{/twitter-share-button}}
{{outlet}}
